<h2>DESCRIPTION</h2>

<h3>Selection of trip limiting conditions</h3>

When another trip with a sufficient number of places to visit cannot be
made because of limited time, new maximum time is used from
the list of maximum trip times. When this list is exhausted, i.e.
a trip with a sufficient number of places cannot be found
using the highest maximum time, the minimum number of places to
visit in one trip is lowered by one, i.e. the sufficient trip length
condition is automatically relaxed. This is repeated if needed,
so the condition can be relaxed to the point that even one place visited
per trip is accepted. However, this maximum time (trip duration)
condition is still kept.

<p>
<img src="v_net_tripplanner.gif">
<br>
<em>Figure: Example set of trips to places in North Carolina</em>
</p>


<h2>NOTE</h2>

<ul>
    <li>Points with attributes need to be passed in a separate vector
        map due to limitations of underlying modules. This also
        increases the processing time significantly due to matching
        of the points by coordinates rather than category numbers
        which are assumed to be lost.
</ul>


<h2>EXAMPLE</h2>

Create the network:

<div class="code"><pre>
v.net \
     input="streets_wake" \
     points="schools_wake" \
     output="network" \
     operation="connect" \
     arc_layer="1" \
     arc_type="line,boundary" \
     node_layer="2" \
     threshold=100000
</pre></div>

See what are the category numbers, so we can use them to specify
our destinations later on:

<div class="code"><pre>
v.category input=network option=report
</pre></div>

Possible output follows. We are interested in the layer 2. It has
categories from 1 to 167.

<pre>
Layer/table: 1/network
type       count        min        max
point          0          0          0
line       50069          1      49913
...
Layer: 2
type       count        min        max
point        167          1        167
...
</pre>

<div class="code"><pre>
v.net.tripplanner \
    input=network \
    from_cat=1 \
    to_cats=2-167 \
    output_basename=output \
    max_time=8,16,24 \
    place_time=0.5 \
    speed=72 \
    min_places=8 \
    attribute_map="schools_wake" \
    name_column="NAMELONG"
</pre></div>

The computation will take approximately 5 minutes on common hardware.
The following shows possible output reporting on the statistics of
the plan.

<pre>
1 trips have less places then requested (average missing: 2, total missing: 2)
Using 96.75 hours from 120.00 allocated (80.6% allocated time efficiency)
Covering 166 places in 96.75 hours (1.7 places per hour)
Covering 166 places in 13 trips (12.8 places per trip)
</pre>


<h2>KNOWN ISSUES</h2>

<ul>
    <li>Inputs are not properly sanitized.
</ul>


<h2>SEE ALSO</h2>

<ul>
    <li><em><a href="v.net.html">v.net</a></em> for building the network,
    <li><em><a href="v.net.salesman.html">v.net.salesman</a></em>
        for the underlying algorithm or a simpler alternative,
    <li><em><a href="v.net.distance.html">v.net.distance</a></em>
        for another underlying algorithm,
    <li><em><a href="v.net.timetable.html">v.net.timetable</a></em>
        for an algorithm for problems with timetable (schedule),
    <li><em><a href="v.category.html">v.net</a></em>
        for checking and managing categories
</ul>


<h2>AUTHOR</h2>

Vaclav Petras,
<a href="http://geospatial.ncsu.edu/geoforall/">NCSU GeoForAll Lab</a>
